---
import { Markdown } from 'astro/components'
import DefaultPageLayout from '$/layouts/default.astro'
import Prose from '$/components/Prose.astro'

const title = 'About';
const description = 'To think outside the box you need to understand the truth. There is no box.';
---
<DefaultPageLayout content={{ title, description }}>
    <Prose>
        <Markdown>
            Currently exploring my internal and external universe. They look so similar and yet so different at the same time.

            ## Not a bot, just human still.
                                Andrew Tarabin //
                    [@_anatar_](https://twitter.com/_Anatar_)  //
                    [theanatar](https://github.com/theanatar)
            <div class="author">
                <img class="rounded-full" width="160" src="https://assets.website-files.com/5e51c674258ffe10d286d30a/5e5358878e2493fbea064dd9_peep-59.svg" title="Andrew" />
            </div>
        </Markdown>
    </Prose>
</DefaultPageLayout>

<style>
    .author {
        @apply flex flex-col w-full
    }
</style>
